<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="header">

        <div class="nav">

            <h3 class="logo">Jie Web</h3>

            <nav>

                <a href="../index.html" class="nav-login">Inicio</a>
                <a href="productos.html" class="nav-login">Productos</a>
                <a href="presupuesto.html" class="nav-login">Presupuesto</a>
                <a href="contacto.html" class="nav-login active">Contacto</a>

            </nav>

        </div>

    </header>


    <section class="about-content">

        <h2>Contacto</h2>

        <p>

            Empresa Jie Web<br>
            Madrid España<br>
            info@email.com

        </p>

        <img src="../assets/images/p4.PNG" width="430" height="450" alt="mapa">

    </section>


    <footer class="footer">

        <div class="footer-container">

            <p>Madrid España</p>

        </div>

    </footer>

</body>

</html>